*.pyc
.idea
build
dist
bin
obj
.ipynb_checkpoints
__pycache__
*.pyc
*.swp
.cache
.eggs
*.egg-info
run.sh
node_modules/*
tests/tfhub/*/*.onnx
tests/tfhub/*/*.tar.gz
tests/tfhub/*/*.tflite
tests/tfhub/*/**

# Unit test / coverage reports
.coverage*
.cache
.hypothesis/
.pytest_cache/
test-output.xml

# VSCode
.vscode/
!.vscode/extensions.json
