# keras2onnx application tests (trimmed)

jobs:

- job: 'Linux'
  timeoutInMinutes: 180
  pool:
    vmImage: 'ubuntu-latest'
  strategy:
    matrix:
      Python36-onnx1.10:
        python.version: '3.6'
        ONNX_PATH: onnx==1.10.2
        INSTALL_KERAS: pip install keras==2.2.4
        UNINSTALL_KERAS:
        INSTALL_TENSORFLOW: pip install tensorflow==1.15.0
        INSTALL_ORT: pip install onnxruntime==1.9.0
        INSTALL_KERAS_RESNET: pip install keras-resnet
        INSTALL_TRANSFORMERS:
        INSTALL_NUMPY: pip install numpy==1.19.0
        NIGHTLY_BUILD_TEST: python run_all.py --exclude "test_keras_applications_v2.py"

      Python38-tf2:
        python.version: '3.8'
        ONNX_PATH: onnx==1.11.0
        INSTALL_KERAS:
        UNINSTALL_KERAS: pip uninstall keras -y
        INSTALL_TENSORFLOW: pip install tensorflow==2.5.0
        INSTALL_ORT: pip install onnxruntime==1.11.0
        INSTALL_KERAS_RESNET: pip install keras-resnet
        INSTALL_TRANSFORMERS: pip install transformers==3.4.0
        INSTALL_NUMPY: pip install numpy==1.19.0
        NIGHTLY_BUILD_TEST: python run_all_v2.py

  steps:
  - template: 'templates/keras2onnx_application_tests.yml'
    parameters:
      platform: 'linux'
