name: Keras2onnx App Test (CI)

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}-${{ github.event_name == 'workflow_dispatch' }}
  cancel-in-progress: true

jobs:

  test:
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'windows-2022']
        tf_version: ['2.13.0', '2.15.0']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: ./.github/actions/keras_application_test
        with:
          tf_version: ${{ matrix.tf_version }}
          python_version: '3.10'
          ort_version: '1.16.3'
          onnx_version: '1.16.1'
      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: Test Results (${{ matrix.os }}-tf${{ matrix.tf_version }})
          path: junit/test-results.xml

  publish-test-results:
    name: "Publish Tests Results to Github"
    needs: [test]
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
    if: always()
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v7
        with:
          path: artifacts
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: "artifacts/**/*.xml"
