name: Unit Test (CI)

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}-${{ github.event_name == 'workflow_dispatch' }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:

  test:
    timeout-minutes: 60
    permissions:
      actions: write
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'windows-2022']
        tf_version: ['2.13.0', '2.15.0']
        python_version: ['3.10', '3.11']
        opset_version: ['18', '15']
        exclude:
          # TF 2.13 supports Python 3.8-3.11 only
          - tf_version: '2.13.0'
            python_version: '3.12'
          - tf_version: '2.13.0'
            python_version: '3.13'
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: ./.github/actions/unit_test
        with:
          tf_version: ${{ matrix.tf_version }}
          python_version: ${{ matrix.python_version }}
          ort_version: '1.16.3'
          onnx_version: '1.16.1'
          opset_version: ${{ matrix.opset_version }}
          skip_tflite: 'False'
      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: Test Results (${{ matrix.os }}-tf${{ matrix.tf_version }}-py${{ matrix.python_version }}-opset${{ matrix.opset_version }})
          path: junit/test-results.xml

  publish-test-results:
    name: "Publish Tests Results to Github"
    needs: [test]
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
    if: always()
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v7
        with:
          path: artifacts
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: "artifacts/**/*.xml"
